{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Home {% endblock %}

{% block body %}
<br>
    <form method="post">

        <div class="d-flex justify-content-center row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Email :</label>
            </div>
            <div class="col-auto">
                <input type="email"
                       name="email"
                       id="inputEmail"
                       class="form-control"
                       autocomplete="email"
                       required autofocus>
            </div>

            <div class="col-auto">
                <label class="col-form-label">Mot de passe :</label>
            </div>

            <div class="col-auto">
                <input type="password"
                       id="inputPassword6"
                       class="form-control"
                       aria-describedby="passwordHelpInline"
                       required>
            </div>
        </div>
            <div class="container">
                <br>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" name="connexion">Connexion</button>
                    </div>

                    <div class="checkbox">
                        <label class="text-white">
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                        <br>
                        <a class="text-white" href="#" title="Reset password">Mot de passe oublié ?</a>
                    </div>

                        <div class="display-none">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>

                </div>
            </div>
    </form>
{% endblock %}